{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Listado de Libros</h1>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertarLibroModal">
                Adicionar Libro
            </button>
        </div>
    </div>
    <div>
        Cantidad de Libros: {{ total }}
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in datos %}
                        <tr>
                            <td>{{ libro.id }}</td>
                            <td>{{ libro.titulo }}</td>
                            <td>{{ libro.autor }}</td>
                            <td>{{ libro.editorial }}</td>
                            <td align="center">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff">
                                            <path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#verLibroModal{{ libro.id }}">
                                                Ver
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editarLibroModal{{ libro.id }}">
                                                Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#eliminarLibroModal{{ libro.id }}">
                                                Eliminar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include "modals/insertar.html" %}
    
    {% for libro in datos %}
        {% with libro=libro %}
            {% include "modals/ver.html" %}
            {% include "modals/editar.html" %}
            {% include "modals/eliminar.html" %}
        {% endwith %}
    {% endfor %}
{% endblock %}